<div class="info">
  <ul>
    <li><a href="mailto:imjuansoto@gmail.com">imjuansoto <i>(at)</i> gmail.com</a></li>
  </ul>

  <ul class="additional">
    <li><a href="/" title="Home">Home</a></li>
    <!-- <li><a href="/background" title="Home">Background</a></li> -->
    <li><a href="/quotes" title="Quotes I like">Quotes</a></li>
    <li><a href="//letterboxd.com/sotojuan/" target="_blank" title="Film diary">Film diary</a></li>
    <li><a href="//blog.juansoto.io" target="_blank" title="Blog">Blog</a></li>
    <li><a href="//instagram.com/imjuansoto/" target="_blank" title="Instagram">Instagram</a></li>
    <br>
    <li><a href="//github.com/sotojuan" title="@sotojuan on GitHub" target="_blank">github.com/sotojuan</a></li>
  </ul>
</div>
