<div class="info">
  <ul>
    <li><a href="mailto:juan@juansoto.me">juan <i>(at)</i> juansoto.me</a></li>
  </ul>

  <ul class="additional">
    <li><a href="/" title="Home">Home</a></li>
    <li><a href="/background" title="Home">Background</a></li>
    <li><a href="/speaking" title="Home">Speaking</a></li>
    <li><a href="/quotes" title="Quotes I like">Quotes</a></li>
    <li><a href="//letterboxd.com/Matachines/" target="_blank" title="Films I like">Films</a></li>
    <br>
    <li><a href="//github.com/sotojuan" title="@sotojuan on GitHub" target="_blank">github.com/sotojuan</a></li>
  </ul>
</div>
