{{ partial "head.html" . }}

<body>
  <div class="container">
    <div class="main">
      <h1>Juan Soto</h1>

      <article>
        <h2>
          Software developer
        </h2>

        <p>
          I work at <a href="https://www.capsulecares.com/">Capsule</a> on logistics and operations software
          to make prescription drug delivery more efficient.
        </p>

<!--         <p>
          I like creating great and simple experiences for developers and users. I prefer backend work
          and writing APIs, but in general I enjoy building tech that makes people more productive.
        </p>

        <p>
          If you're interested, you can read about my <a href="/background">background</a> to see what I've worked on.
        </p> -->
      </article>
    </div>
  </div>
</body>

{{ partial "info.html" . }}
